@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: white;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #171717;
  color: white;
}